/* Background */

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    opacity:0.7;
}
/* END BACKGROUND */



/* Navbar */

.floatellogo {
    max-width:200;
}
.navbar-inner {
    background:transparent;  
}
.navbar .navbar-nav > li > a {
   color: white;
   font-size:16px;
   font-style: bold;
    }
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
color: black;
background:white; 
}
/* END NAVBAR */

/* Index */

.header {
    position:absolute;
    top:300px;
    left:250px;
}

/* END INDEX */